.todo-search-input {
    background-color: #171717;
    width           : 100%;
    height          : 56px;
    border-radius   : 16px;
    border          : unset;
    padding         : 20px;
    box-sizing      : border-box;
    color           : #fff;
}