@font-face {
  font-family: "Roobert";
  src        : url("https://db.onlinewebfonts.com/t/d6ae884b0a2f1a5346717fc160db2d28.eot");
  src        : url("https://db.onlinewebfonts.com/t/d6ae884b0a2f1a5346717fc160db2d28.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d6ae884b0a2f1a5346717fc160db2d28.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d6ae884b0a2f1a5346717fc160db2d28.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d6ae884b0a2f1a5346717fc160db2d28.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d6ae884b0a2f1a5346717fc160db2d28.svg#Roobert")format("svg");
}

body {
  margin                 : 0;
  font-family            : 'Roobert';
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat      : no-repeat;
  background             : #171717;
  background-position    : inherit;
  height                 : 100vh;
  color                  : #fff;
  position               : relative;
}

#root {
  position : absolute;
  z-index  : 1;
  width    : 100%;
  transform: translate(0, 15%);
}